
  
/** RESPONSIVE - MOVILE**///

@media (max-width : 688px){ 
  #pc{
    display: none !important;
  }
 
  #movil{
    display: block !important; 
    .fondoMascotas{
      background-image: url('/assets/images/fondo_mascota3.jpg'); 
      padding-bottom: 50%;
    }
    
    .ImgMascota{  
      border-radius: 50%;
      border: solid 8px white;
      margin: 25% 0% 5% 0;
      width: 50%;
    }
    
    .nameMascota{
    font-size: 48px;
    line-height: 50px;
    font-weight: bold;
    }
    
    .nameMascota > h1{
      font-family: Lucida, Handwriting, Cursive; 
      text-align: center;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 35px;
      color: #7c3a3a;
      letter-spacing: 0.4rem; 
      width: 100%;
    }
    
    .infoMascota{ 
      margin-top: -25%;
      height: 60vh;
      border-radius: 50px;
      border: solid 3px #646068; 
      background-color: #ffffff;
      text-emphasis: left; 
      border-bottom-left-radius: 200px 150px;
      border-top-right-radius: 200px 150px;
      border: solid 8px #92bd28; 
    }
    
    .centrar{
      text-align: center;
    }
    
    .OpcionesMascota{
      display: grid; 
      grid-gap: 5%; 
      padding: 10%;
    
      .example-button-container{
        display: grid; 
        grid-template-columns: 50px 1fr;
        align-items: center;
    
        span{
          text-align: left;
          margin-left: 10%;
          font-size: 16px;
          font-weight: bold;
    
          a{
            text-decoration: none;
          }
        }  
      } 
    
      button{
        background: white;
        color: black;
      } 
    }
    

    mat-card{ 
      display: block;
      position: relative;
      padding: 16px;
      border-radius: 25px;
      margin: 5%;
    }

    .info{
      display: grid;
      grid-template-columns: 150px 1fr; 
      margin: 5%;
    }
    
  }

}
  
  
/** RESPONSIVE - TABLET**///
@media (min-width : 689px) and (max-width : 992px){ 
  #movil{
    display: none !important;
  }
 
  #pc{
    display: block !important;
  }
 

  .fondoMascotaspc{
    .grid-card{
      display: block !important;

      .foto{
        padding: 5%;
        background-color: #e0f6fd;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        justify-content: center;
        text-align: center; 
        justify-content: center !important;
        display: grid;
      }
    }
  }

  .boton_agregar{
    margin-top: 25% !important;
      button{
        border-radius: 15px;
        height: 50px;
      }
  }
  
  .info-card{
    .bloque_3{ 
      padding: 5% !important;
      display: block !important;
    }
  }
}


// /** RESPONSIVE - PC**///
@media (min-width : 993px) and (max-width : 2500px){  
  #movil{
    display: none !important;
  }

  #pc{
    display: block !important;
  }


}

 