
  
/** RESPONSIVE - MOVILE**///

@media (max-width : 688px){ 
  #pc{
    display: none !important;
  }
 
  #movil{
    display: block !important;  
    text-align: center !important;  
    padding: 5% 2%;

      .ImgMascota{  
        border-radius: 50%;
        border: solid 8px white;
        margin: 15% 0% 5% 0;
        width: 50%;
      }
            
      .nameMascota{ 
        font-weight: bold;
        font-size: 35px;  
      }
    
      .razamovil{
        font-weight: bold;
        font-size: 30px;  
      }
      
      .OpcionesMascota{ 
        justify-content: center;
        display: flex;
        grid-gap: 5%; 
        padding: 8%; 

        button{
          background: white; 
          box-shadow: 1px 1px 1px 3px salmon;
        }
      } 

      .info_bloque_1{
        background-color: white;
        border-radius: 25px;
        padding: 5%;
        margin: 5% 2%;
        
        .titulo_bloque_1{
          font-size: 20px;
          font-weight: bold;
        }
      }

      .info_bloque_2{
        background-color: white;
        border-radius: 25px;
        padding: 5%;
        margin: 5% 3%;
     

        .titulo_bloque_1{
          font-size: 20px;
          font-weight: bold;
        }

        .titulo_bloque_2{
          display: flex; 
          margin: 0 0 5% 0;
          p{
            margin: 3%;
            font-size: 20px;
            text-align: left;
            font-weight: 500;
          }
        }
  
        .detalles_bloque_2{
          display: grid;
          grid-template-columns: 40% 60%;
          text-align: left;
          margin: 3%;
        }
      }

  }

}
  
  
/** RESPONSIVE - TABLET**///
@media (min-width : 689px) and (max-width : 992px){ 
  #movil{
    display: none !important;
  }
 
  #pc{
    display: block !important;
  }
 

  .fondoMascotaspc{
    .grid-card{
      display: block !important;

      .foto{
        padding: 5%;
        background-color: #e0f6fd;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        justify-content: center;
        text-align: center; 
        justify-content: center !important;
        display: grid;
      }
    }
  }

  .boton_agregar{
    margin-top: 25% !important;
      button{
        border-radius: 15px;
        height: 50px;
      }
  }
  
  .info-card{
    .bloque_3{ 
      padding: 5% !important;
      display: block !important;
    }
  }
}


// /** RESPONSIVE - PC**///
@media (min-width : 993px) and (max-width : 2500px){  
  #movil{
    display: none !important;
  }

  #pc{
    display: block !important;
  }


}

 