/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; padding: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/*ESTILOS GENERADOS*/
@import "./assets/styles-custom/styles-responsive.scss";
@import "./assets/styles-custom/stylesLanding.scss";
 
.mat-dialog-container{
    padding: 0 !important;
}

 
 
 